{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center text-dark">
        <h1> Welcome To Lyber – The Emperor </h1>
        <p class="lead"> This Web-application is built on the python Flask framework. Lyber is develop to fast and reliable transaction of diffrernt bills to pay with the single click of one transaction. One transaction for all biils. This will reduce your passbook entries and also save your time to put multiple OTPs in multiple biil payments. </p>
    </div>
    <div class="jumbotron text-left text-dark">
        <p> This Web-application is built on the python Flask framework. Lyber is develop to fast and reliable
            transaction of diffrernt bills to pay with the single click of one transaction. One transaction for all biils.
            This will reduce your passbook entries and also save your time to put multiple OTPs in multiple biil payments.</p>
    </div>
{% endblock %}